.login {
    background-color: rgb(222, 222, 222);
    padding: 1em;
    /* text-align: center; */
    margin-inline: auto;
    margin-block: 10em;
    max-width: 20em;
    text-align: center;
}

.login ul {
    list-style: none;
    /* margin: 0; */
    padding: 0; 
}
